body {
    background-color: rgb#4a6cea;
  }
  
  h1 {
    color: #D4D7D9;
    font-family: 'Trebuchet MS', sans-serif;;
    text-align: center;
  }
  
  p {
    font-family: 'Trebuchet MS', sans-serif;;
    font-size: 57px;
  }