body {
    background-color: #4a6cea;
  }
  
  h1 {
    color: #D4D7D9;
    font-family: 'Trebuchet MS', sans-serif;;
    text-align: center;
    font-size: 35px;
  }
  
  p {
    font-family: 'Trebuchet MS', sans-serif;;
    font-size: 35px;
  }

  h2 {
    color: #D4D7D9;
    font-family: 'Trebuchet MS', sans-serif;;
    text-align: left;
    font-size: 24px;
  }

  blockquote {
    color: #D4D7D9;
    font-family: 'Trebuchet MS', sans-serif;;
    text-align: center;
    font-size: 14px;
  }
