body {
    background-color: #4a6cea;
  }
  
  h1 {
    color: #2451e0;
    font-family: 'Courier', monospace;;
    text-align: center;
    font-size: 35px;
  }
  
  p {
    font-family: 'Trebuchet MS', sans-serif;;
    font-size: 35px;
  }

  h2 {
    color: #2451e0;
    font-family: 'Trebuchet MS', sans-serif;;
    text-align: left;
    font-size: 24px;
  }

  blockquote {
    color: #2451e0;
    font-family: 'Trebuchet MS', sans-serif;;
    text-align: left;
    font-size: 14px;
  }

  a {
    color: #2451e0;
    font-family: 'Trebuchet MS', sans-serif;;
    text-align: center;
    font-size: 14px;
  }
  

  
